.footer {
    background-color: #000;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    color: #d8d8d8;
    position: relative;
    top:1400px;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-section h3, .footer-section h4 {
    color: white;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .footer-section input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: white;
  }
  
  .footer-section button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .footer-bottom {
    background-color: #111;
    color: #777;
    padding: 20px;
    text-align: center;
    position: relative;
    top:1400px;
  }
  
  .social-links {
    margin-top: 10px;
    }
  
  .social-links svg {
    margin: 0 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
  .oahr{
    position: relative;
    top: 1400px;
  }